<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="69C966BC-C892-421F-A9D0-749E21A0745A"
           Language="1033"
           Manufacturer="NewInnovations"
           Name="MView6"
           Version="1.0.0.0">

    <Package InstallScope="perMachine" Compressed="yes" />

    <MediaTemplate EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="MView6 Installation Folder">
          <Component Id="ProductComponent">
            <File KeyPath="yes" Source="mview6-windows\bin\MView6.exe"></File>
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="HelloWorldFeature">
      <ComponentRef Id="ProductComponent" />
    </Feature>

  </Product>
</Wix>
