<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="69C966BC-C892-421F-A9D0-749E21A0745A"
    Language="1033"
    Manufacturer="NewInnovations"
    Name="MView6"
    Version="1.0.0.0"
    UpgradeCode="2c131b81-5fae-4c71-bad8-9c6c6c48f093">

    <Package InstallScope="perMachine" Compressed="yes" />

    <MediaTemplate EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="MView6 Installation Folder">
          <Directory Id="BinFolder" Name="bin">
            <Component Id="MainExecutable" Guid="*">
              <File Id="RustExe" Source="mview6-windows\bin\MView6.exe" />
            </Component>
          </Directory>
          <Directory Id="LibFolder" Name="lib">
            <Directory Id="LibFolder2" Name="gdk-pixbuf-2.0">
              <Directory Id="LibFolder3" Name="2.10.0">
                <Directory Id="LibFolder4" Name="loaders">
                  <Component Id="ExtraFileComponent" Guid="*">
                    <File Id="ExtraFile1"
                      Source="mview6-windows\lib\gdk-pixbuf-2.0\2.10.0\loaders\pixbufloader_svg.dll" />
                  </Component>
                </Directory>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="MainFeature" Title="MView6 App Feature" Level="1">
      <ComponentRef Id="MainExecutable" />
      <ComponentRef Id="ExtraFileComponent"/>
    </Feature>

  </Product>
</Wix>
